body{
	font-family:Arial, Helvetica, sans-serif;
	color:#2c3e50;
	background-color:#e67e22;
	margin: 10px;
}

.hidden {
	display: none;
}

/* ============================================================
  COMMON
============================================================ */
/* sections */
section {
  margin-bottom: 60px;
  padding: 30px;
  background-color: #efefef;
}
section:last-child {
  margin-bottom: 0;
}

/* headings */
h2 {
  margin-bottom: 30px;
}

/* form elements */
label {
  display: block;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 300px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

/* lists */
ul.input-list {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
  text-align:center;
}
ul.input-list li {
  display: block;
  //width: 100%;
  //width: 300px;
}

.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
		
 
.flex-items-default {
    width: 600px;
    height: 500px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}

.flex-item {
  display: flex;
  justify-content: center;
  //align-items: center;
  position: relative;
  padding: 1.5em 1em;
  //border-radius: 5px;
  background-color: #f1c40f;
  text-align: center;
  width: 450px;
  height: 300px;
  margin: 10px;
}

/* ============================================================
  STYLE 2
============================================================ */
.style-2 input[type="text"] {
  padding: 10px;
  border: solid 5px #34495e;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}
.style-2 input[type="text"]:focus, .style-2 input[type="text"].focus {
  border: solid 5px #2980b9;
}