body{
  font-family:Arial, Helvetica, sans-serif;
  color:#2c3e50;
  background-color:#e67e22;
  margin: 10px;
}

.hidden {
  display: none;
}

/* ============================================================
  COMMON
============================================================ */
/* sections */
section {
  margin-bottom: 60px;
  padding: 30px;
  background-color: #efefef;
}
section:last-child {
  margin-bottom: 0;
}

/* headings */
h2 {
  margin-bottom: 30px;
}

/* form elements */
label {
  display: block;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 300px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

/* lists */
ul.input-list {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
  text-align:center;
}
ul.input-list li {
  display: block;
  //width: 100%;
  //width: 300px;
}

.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
		
 
.flex-items-default {
    width: 600px;
    height: 500px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}

.flex-item {
  display: flex;
  justify-content: center;
  //align-items: center;
  position: relative;
  padding: 1.5em 1em;
  //border-radius: 5px;
  background-color: #f1c40f;
  text-align: center;
  width: 450px;
  height: 300px;
  margin: 10px;
}

/* ============================================================
  STYLE 2
============================================================ */
.style-2 input[type="text"] {
  padding: 10px;
  border: solid 5px #34495e;
  transition: border 0.3s;
}
.style-2 input[type="text"]:focus, .style-2 input[type="text"].focus {
  border: solid 5px #2980b9;
}

body {
  margin: 0;
  background-color: #2980b9;
}

$white: #FFF;
$black: #000;
$button-width: 180px;

#notify {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 4px 0;
  width: $button-width;
  overflow: hidden;
  user-select: none;
  background-color: #34495e;

  &:hover {
    cursor: pointer;
  }

  p {
    //font-family: 'Roboto';
    font-size: 16px;
    color: $white;
    text-align: center;
    text-transform: uppercase;
  }

  .feedback {
    position: absolute;
    width: $button-width * 2;
    height: $button-width * 2;
    background-color: rgba($white, 0.5);
    left: 0;
    top: 0;
    border-radius: 50%;
    margin-left: - $button-width;
    margin-top: - $button-width;
    transform: scaleX(0) scaleY(0);
  }
}